* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555555;
}

.container {
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  background-color: #eef1f3;
}
.header__inner {
  display: flex;
  align-items: center;
  min-height: 100px;
}
.header__logo {
  margin-right: auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 130px;
  margin-right: 40px;
}
.header__nav-btn {
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: 0;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  position: relative;
}

/*    Header   */

.header__btn {
  background-color: #0674ec;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  line-height: 2;
  color: #fff;
  padding: 8px 20px;
  border-radius: 30px;
  margin-right: 50px;
}
.header__user {
  width: 180px;
  position: relative;
  padding-left: 70px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__user-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 23px;
}
.header__user-name {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 500;
  color: #000;
}
.header__price {
  font-size: 15px;
  line-height: 1.4;
  color: #0674ec;
}

.header__badge {
  position: absolute;
  top: -8px;
  right: -8px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: #202020;
  min-width: 22px;
  min-height: 22px;
  padding: 3px;
}

.header__badge--1 {
  background-color: #ff6a6c;
}
.header__badge--2 {
  background-color: #62d03b;
}
.header__badge--3 {
  background-color: #0674ec;
}

/* HEADER MENU NAV   */

.header__menu {
  min-height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu-list {
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.header__menu-link {
  font-size: 15px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}

/*   SEARCH      */
.search {
  display: flex;
  align-items: center;
}

.search__input {
  width: 320px;
  font-size: 15px;
  border: 1px solid #d9dfe5;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 14px 22px;
  outline: 0;
}

.search__input:focus {
  box-shadow: 0 0 1px 1px #0674ec;
}

.search__input::placeholder {
  font-family: 'Quicksand';
  font-weight: 500;
  font-size: 15px;
  color: #898f96;
}

.search__btn {
  background-color: #0674ec;
  border-radius: 30px;
  border: 0;
  padding: 17px 26px;
  margin-left: -40px;
  cursor: pointer;
  outline: 0;
}

.search__btn img {
  display: block;
}
